services:

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "80:3000"
    depends_on:
      - draw
      - websocket
      - grid
    networks:
      - my_network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost"]
      interval: 30s
      timeout: 10s
      retries: 3
  draw:
    build:
      context: ./backend
      dockerfile: Dockerfile
      args:
        SERVICE_NAME: draw
    environment:
      - BIND_ADDRESS=0.0.0.0:5001
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    ports:
      - "5001:8080"
    depends_on:
      - redis
    networks:
      - my_network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5001/health"]
      interval: 30s
      timeout: 10s
      retries: 3

  grid:
    build:
      context: ./backend
      dockerfile: Dockerfile
      args:
        SERVICE_NAME: grid
    environment:
      - BIND_ADDRESS=0.0.0.0:8083
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - GIN_MODE=release
    ports:
      - "8083:8083"
    depends_on:
      - redis
      - websocket
    networks:
      - my_network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8083/health"]
      interval: 30s
      timeout: 10s
      retries: 3

  websocket:
    build:
      context: ./backend
      dockerfile: Dockerfile
      args:
        SERVICE_NAME: ws
    environment:
      - BIND_ADDRESS=0.0.0.0:8082
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - GIN_MODE=release
    ports:
      - "8082:8080"
    depends_on:
      - redis
    networks:
      - my_network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8082/health"]
      interval: 30s
      timeout: 10s
      retries: 3
  
  redis:
    image: redis:8.0.2-bookworm
    ports:
      - "6379:6379"
    networks:
      - my_network
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 10s
      retries: 3
    environment:
      - LOG_LEVEL=warn

networks:
  my_network:
    name: custom_network

volumes:
  redis_data: